body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(40, 12px);
  grid-template-rows: repeat(40, 12px);
}

.pixel:nth-child(43),
.pixel:nth-child(83),
.pixel:nth-child(44),
.pixel:nth-child(84),
.pixel:nth-child(85),
.pixel:nth-child(86),
.pixel:nth-child(124),
.pixel:nth-child(125),
.pixel:nth-child(86),
.pixel:nth-child(164),
.pixel:nth-child(165),
.pixel:nth-child(205),
.pixel:nth-child(285),
.pixel:nth-child(326),
.pixel:nth-child(367),
.pixel:nth-child(448),
.pixel:nth-child(567),
.pixel:nth-child(128),
.pixel:nth-child(169),
.pixel:nth-child(210),
.pixel:nth-child(251),
.pixel:nth-child(256),
.pixel:nth-child(257),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(260),
.pixel:nth-child(265),
.pixel:nth-child(266),
.pixel:nth-child(229),
.pixel:nth-child(429),
.pixel:nth-child(230),
.pixel:nth-child(193),
.pixel:nth-child(194),
.pixel:nth-child(195),
.pixel:nth-child(196),
.pixel:nth-child(235),
.pixel:nth-child(236),
.pixel:nth-child(275),
.pixel:nth-child(314),
.pixel:nth-child(353),
.pixel:nth-child(391),
.pixel:nth-child(468),
.pixel:nth-child(570),
.pixel:nth-child(530),
.pixel:nth-child(491),
.pixel:nth-child(492),
.pixel:nth-child(532),
.pixel:nth-child(533),
.pixel:nth-child(572),
.pixel:nth-child(573),
.pixel:nth-child(571),
.pixel:nth-child(611),
.pixel:nth-child(612),
.pixel:nth-child(542),
.pixel:nth-child(503),
.pixel:nth-child(504),
.pixel:nth-child(544),
.pixel:nth-child(545),
.pixel:nth-child(582),
.pixel:nth-child(584),
.pixel:nth-child(585),
.pixel:nth-child(583),
.pixel:nth-child(623),
.pixel:nth-child(624),
.pixel:nth-child(656),
.pixel:nth-child(686),
.pixel:nth-child(726),
.pixel:nth-child(807),
.pixel:nth-child(967),
.pixel:nth-child(1007),
.pixel:nth-child(1126),
.pixel:nth-child(1166),
.pixel:nth-child(1206),
.pixel:nth-child(1246),
.pixel:nth-child(1367),
.pixel:nth-child(1408),
.pixel:nth-child(1449),
.pixel:nth-child(1529),
.pixel:nth-child(1570),
.pixel:nth-child(1571),
.pixel:nth-child(1572),
.pixel:nth-child(1534),
.pixel:nth-child(1543),
.pixel:nth-child(1585),
.pixel:nth-child(1586),
.pixel:nth-child(1587),
.pixel:nth-child(1548),
.pixel:nth-child(1468),
.pixel:nth-child(1429),
.pixel:nth-child(1390),
.pixel:nth-child(1391),
.pixel:nth-child(1352),
.pixel:nth-child(1353),
.pixel:nth-child(1314),
.pixel:nth-child(1275),
.pixel:nth-child(1234),
.pixel:nth-child(1110),
.pixel:nth-child(1150),
.pixel:nth-child(1190),
.pixel:nth-child(1230),
.pixel:nth-child(1270),
.pixel:nth-child(1310),
.pixel:nth-child(1350),
.pixel:nth-child(1111),
.pixel:nth-child(1191),
.pixel:nth-child(1072),
.pixel:nth-child(1033),
.pixel:nth-child(992),
.pixel:nth-child(951),
.pixel:nth-child(989),
.pixel:nth-child(1156),
.pixel:nth-child(1078),
.pixel:nth-child(1038),
.pixel:nth-child(997),
.pixel:nth-child(958),
.pixel:nth-child(560),
.pixel:nth-child(600),
.pixel:nth-child(640),
.pixel:nth-child(680),
.pixel:nth-child(720),
.pixel:nth-child(760),
.pixel:nth-child(800),
.pixel:nth-child(840),
.pixel:nth-child(519),
.pixel:nth-child(558),
.pixel:nth-child(597),
.pixel:nth-child(636),
.pixel:nth-child(675),
.pixel:nth-child(714),
.pixel:nth-child(753),
.pixel:nth-child(792),
.pixel:nth-child(520),
.pixel:nth-child(831),
.pixel:nth-child(829),
.pixel:nth-child(830),
.pixel:nth-child(870),
.pixel:nth-child(750),
.pixel:nth-child(710),
.pixel:nth-child(589),
.pixel:nth-child(774),
.pixel:nth-child(779),
.pixel:nth-child(1013),
.pixel:nth-child(1021),
.pixel:nth-child(1134),
.pixel:nth-child(1174),
.pixel:nth-child(1253),
.pixel:nth-child(1211),
.pixel:nth-child(1130),
.pixel:nth-child(1089),
.pixel:nth-child(1140),
.pixel:nth-child(1180),
.pixel:nth-child(1261),
.pixel:nth-child(1223),
.pixel:nth-child(1144),
.pixel:nth-child(1105) {
  background-color: black;
}

.pixel:nth-child(4),
.pixel:nth-child(254),
.pixel:nth-child(292),
.pixel:nth-child(262),
.pixel:nth-child(304),
.pixel:nth-child(268),
.pixel:nth-child(232),
.pixel:nth-child(234),
.pixel:nth-child(273),
.pixel:nth-child(312),
.pixel:nth-child(352),
.pixel:nth-child(350),
.pixel:nth-child(351),
.pixel:nth-child(386),
.pixel:nth-child(387),
.pixel:nth-child(388),
.pixel:nth-child(389),
.pixel:nth-child(390),
.pixel:nth-child(428),
.pixel:nth-child(559),
.pixel:nth-child(598),
.pixel:nth-child(637),
.pixel:nth-child(715),
.pixel:nth-child(676),
.pixel:nth-child(754),
.pixel:nth-child(793),
.pixel:nth-child(832),
.pixel:nth-child(871),
.pixel:nth-child(868),
.pixel:nth-child(948),
.pixel:nth-child(1152),
.pixel:nth-child(1153),
.pixel:nth-child(1192),
.pixel:nth-child(1193),
.pixel:nth-child(1194),
.pixel:nth-child(1233),
.pixel:nth-child(1145),
.pixel:nth-child(1185),
.pixel:nth-child(1224),
.pixel:nth-child(1263),
.pixel:nth-child(935),
.pixel:nth-child(936),
.pixel:nth-child(937),
.pixel:nth-child(938),
.pixel:nth-child(939),
.pixel:nth-child(976),
.pixel:nth-child(977),
.pixel:nth-child(978),
.pixel:nth-child(1129),
.pixel:nth-child(1169),
.pixel:nth-child(1210),
.pixel:nth-child(1251),
.pixel:nth-child(1491),
.pixel:nth-child(1493),
.pixel:nth-child(1494),
.pixel:nth-child(1456),
.pixel:nth-child(1457),
.pixel:nth-child(1458),
.pixel:nth-child(1459),
.pixel:nth-child(1460),
.pixel:nth-child(1461),
.pixel:nth-child(1503),
.pixel:nth-child(1504),
.pixel:nth-child(1506),
.pixel:nth-child(1428),
.pixel:nth-child(1349),
.pixel:nth-child(848),
.pixel:nth-child(928),
.pixel:nth-child(528),
.pixel:nth-child(409),
.pixel:nth-child(370),
.pixel:nth-child(329),
.pixel:nth-child(368),
.pixel:nth-child(328),
.pixel:nth-child(327),
.pixel:nth-child(287),
.pixel:nth-child(286),
.pixel:nth-child(246) {
  background: #ffff00;
}

.pixel:nth-child(2),
.pixel:nth-child(3),
.pixel:nth-child(42),
.pixel:nth-child(123),
.pixel:nth-child(45),
.pixel:nth-child(87),
.pixel:nth-child(127),
.pixel:nth-child(126),
.pixel:nth-child(204),
.pixel:nth-child(245),
.pixel:nth-child(369),
.pixel:nth-child(408),
.pixel:nth-child(488),
.pixel:nth-child(527),
.pixel:nth-child(607),
.pixel:nth-child(646),
.pixel:nth-child(648),
.pixel:nth-child(649),
.pixel:nth-child(687),
.pixel:nth-child(688),
.pixel:nth-child(689),
.pixel:nth-child(690),
.pixel:nth-child(727),
.pixel:nth-child(728),
.pixel:nth-child(729),
.pixel:nth-child(730),
.pixel:nth-child(768),
.pixel:nth-child(769),
.pixel:nth-child(847),
.pixel:nth-child(888),
.pixel:nth-child(927),
.pixel:nth-child(1047),
.pixel:nth-child(1086),
.pixel:nth-child(1049),
.pixel:nth-child(1170),
.pixel:nth-child(1252),
.pixel:nth-child(1214),
.pixel:nth-child(1094),
.pixel:nth-child(1053),
.pixel:nth-child(657),
.pixel:nth-child(733),
.pixel:nth-child(775),
.pixel:nth-child(736),
.pixel:nth-child(737),
.pixel:nth-child(778),
.pixel:nth-child(740),
.pixel:nth-child(708),
.pixel:nth-child(707),
.pixel:nth-child(706),
.pixel:nth-child(705),
.pixel:nth-child(745),
.pixel:nth-child(746),
.pixel:nth-child(747),
.pixel:nth-child(748),
.pixel:nth-child(786),
.pixel:nth-child(787),
.pixel:nth-child(666),
.pixel:nth-child(667),
.pixel:nth-child(255),
.pixel:nth-child(261),
.pixel:nth-child(252),
.pixel:nth-child(293),
.pixel:nth-child(303),
.pixel:nth-child(264),
.pixel:nth-child(267),
.pixel:nth-child(228),
.pixel:nth-child(231),
.pixel:nth-child(192),
.pixel:nth-child(197),
.pixel:nth-child(237),
.pixel:nth-child(313),
.pixel:nth-child(274),
.pixel:nth-child(427),
.pixel:nth-child(508),
.pixel:nth-child(549),
.pixel:nth-child(629),
.pixel:nth-child(670),
.pixel:nth-child(790),
.pixel:nth-child(480),
.pixel:nth-child(880),
.pixel:nth-child(919),
.pixel:nth-child(1117),
.pixel:nth-child(1195),
.pixel:nth-child(1151),
.pixel:nth-child(1070),
.pixel:nth-child(1029),
.pixel:nth-child(908),
.pixel:nth-child(869),
.pixel:nth-child(910),
.pixel:nth-child(949),
.pixel:nth-child(1231),
.pixel:nth-child(1271),
.pixel:nth-child(1311),
.pixel:nth-child(1351),
.pixel:nth-child(1232),
.pixel:nth-child(1272),
.pixel:nth-child(1312),
.pixel:nth-child(1273),
.pixel:nth-child(1274),
.pixel:nth-child(1313),
.pixel:nth-child(1061),
.pixel:nth-child(1100),
.pixel:nth-child(1220),
.pixel:nth-child(1262),
.pixel:nth-child(1184),
.pixel:nth-child(1065),
.pixel:nth-child(1286),
.pixel:nth-child(1327),
.pixel:nth-child(1490),
.pixel:nth-child(1569),
.pixel:nth-child(1533),
.pixel:nth-child(1573),
.pixel:nth-child(1495),
.pixel:nth-child(1535),
.pixel:nth-child(1496),
.pixel:nth-child(1497),
.pixel:nth-child(1498),
.pixel:nth-child(1499),
.pixel:nth-child(1500),
.pixel:nth-child(1501),
.pixel:nth-child(1502),
.pixel:nth-child(1542),
.pixel:nth-child(1544),
.pixel:nth-child(1584),
.pixel:nth-child(1588),
.pixel:nth-child(1507) {
  background: #e67300;
}
